### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/

# Elixir
*.beam

# Rust
code7_1
code7_2.txt
code7_3
code7_4
code7_5
code7_6
code7_7
code7_8.txt
code7_9
code7_10
code7_11
code7_12
code7_13.txt
code7_14

# API key
.env
